.pricing {
  text-align: center;
  color: $basic-white;
  background-color: $dark-background;
  display: flex;

  @media screen and (min-width: $breakpoint-md) {
    text-align: left;
  }

  &__title {
    margin-top: 110px;
  }

  &__description {
    padding: 0 60px;
    margin-bottom: 67px;
  }

  &__trial {
    @include flexColumn;

    @media screen and (min-width: $breakpoint-md) {
      align-items: flex-start;
    }

    h3 {
      font-size: 24px;
      margin-top: 110px;
      font-weight: normal;
      text-transform: uppercase;
      
      @media screen and (max-width: $breakpoint-md) {
        margin-top: 60px;
      }
    }
  }

  .price {
    display: flex;
    margin-top: 30px;

    &__number {
      font-size: 72px;
      line-height: 70px;
      color: $secondary-yellow;
      font-weight: bold;
      margin-top: -5px;
      margin-right: 10px;
    }

    &__text {
      text-transform: lowercase;
      font-size: 24px;
      line-height: 24px;
      
      @media screen and (max-width: $breakpoint-md) {
        text-align: left;
      }
      
      p {
        margin-bottom: 10px;
      }
    }
  }

  &__text {
    margin-top: 30px;
  }

  button {
    margin-top: 10px;
    margin-bottom: 110px;
  }
}