$basic-blue: #00B6F0;
$basic-white: #FFF;
$basic-black: #000;
$secondary-blue: #112D57;
$first-gray: #20262A;
$secondary-gray: #5C5C5C;
$text-gray: #505D6F;
$light-gray: #F3F5F8;
$secondary-yellow: #F3CD03;
$secondary-pink: #e83e8c;
$light-purple: #bfafdc;
$dark-background: #182333;